.MenuButton {
    background-image: url('project://database/Assets/Sprites/Background/Menu/Botton.aseprite?fileID=7561043302583333025&guid=4e463f9cac48cd14bb079118b381e355&type=3#Botton');
    width: 40px;
    height: 20px;
    -unity-font-definition: initial;
    -unity-font: url('project://database/Assets/UI/Fonts/Retro%20Computer.ttf?fileID=12800000&guid=3443779465cbb12409fd30628e38dae9&type=3#Retro Computer');
    font-size: 9px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-text-outline-width: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    max-width: 80px;
    max-height: 40px;
}
